*,*::after,*::before{
    box-sizing: border-box;
}
:root{
    --color-base-hue:200;
    --color-background-dark: hsl(var(--color-base-hue),100%,8%);
    --color-background-light: hsl(var(--color-base-hue),100%,16%);
}

body{
  margin: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(to right,var(--color-background-dark),var(--color-background-light));
}
h1{
margin: 0;
margin-bottom: .6rem;
color: white;
}
.number{
    border: 1px solid #333;
    border-radius: .3em;
    padding: .25rem;
    width:7em;
}

select{
 margin-left: .5rem;
}
.eq{
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

/*uqiwfzyxf0h4uad2b30zF92VRsQQ8Dyb
https://api.apilayer.com/exchangerates_data/live?base=USD&symbols=EUR,GBP'\
--header 'apikey: uqiwfzyxf0h4uad2b30zF92VRsQQ8Dyb'


*/